/* ===================== */
/* Rows */
/* ===================== */
.row {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* ===================== */
/* Columns */
/* ===================== */
.col {
	position: relative;
	float: left;
}

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8 {
	width: 100%;
}


@media all and (min-width: 1025px) {

	/* Gutters */
	.col + .col {
		margin-left: 1.5em;
	}

	/* Columns Span */
	/* (100% - ((num_columns - 1) * margin)) / num_columns) * span + ((span - 1) * margin) */
	.col.col-1 {
		width: calc((100% - ((8 - 1) * 1.5em)) / 8);
	}

	.col.col-2 {
		width: calc(((100% - ((8 - 1) * 1.5em)) / 8) * 2 + ((2 - 1) * 1.5em));
	}

	.col.col-3 {
		width: calc(((100% - ((8 - 1) * 1.5em)) / 8) * 3 + ((3 - 1) * 1.5em));
	}

	.col.col-4 {
		width: calc(((100% - ((8 - 1) * 1.5em)) / 8) * 4 + ((4 - 1) * 1.5em));
	}

	.col.col-5 {
		width: calc(((100% - ((8 - 1) * 1.5em)) / 8) * 5 + ((5 - 1) * 1.5em));
	}

	.col.col-6 {
		width: calc(((100% - ((8 - 1) * 1.5em)) / 8) * 6 + ((6 - 1) * 1.5em));
	}

	.col.col-7 {
		width: calc(((100% - ((8 - 1) * 1.5em)) / 8) * 7 + ((7 - 1) * 1.5em));
	}
}
