/* ===================== */
/* Row */
/* ===================== */
.row {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* ===================== */
/* Column */
/* ===================== */
.col {
	position: relative;
	float: left;
}

.col:last-child {
	float: none;
}

/* Gutter */
.col + .col {
	margin-left: 1.5em;
}