body {
	font-family: Arial, sans-serif;
}

/* ==================================== */
/* Header */
/* ==================================== */
body > header {
	height: 70px;
	background-color: #666;
}

#logo {
	height: 70px;
	background-color: #333;
}

#masthead {
	line-height: 70px;
	color: #FFF;
}

.menus li {
	text-align: center;
	line-height: 70px;
}

.menus li a {
	width: 100%;
	height: 70px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	transition: all 0.2s ease;
}

.menus li a:hover{
	background-color: #FFF;
	color: #666;
}

/* ==================================== */
/* Main */
/* ==================================== */
article {
	padding: 50px;
	overflow: auto;
}

h1 {
	margin-bottom: 50px;
	text-align: center;
	font-size: 34px;
	text-decoration: underline;
}

article h2 {
	margin-bottom: 15px;
	font-weight: bold;
}

/* ==================================== */
/* Banners */
/* ==================================== */
aside {
	margin-bottom: 50px;
}

.banner {
	height: 200px;
	background-color: #CCC;
	text-align: center;
	line-height: 200px;
	font-weight: bold;
}

/* ==================================== */
/* Banners */
/* ==================================== */
footer {
	height: 200px;
	line-height: 200px;
	text-align: center;
	background-color: #333;
	color: #FFF;
}

footer a {
	color: #FFF;
}
